@import 'src/styles.scss';

.landing-wrapper .message {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	height: 100%;
	width: 100%;

	.digits {
		font-size: 7rem;
		font-weight: 100;
	}
}
