<div class="login-card-wrapper">
	<img srcset="/assets/img/login-bg-1024.jpg 1024w,
							 /assets/img/login-bg-768.jpg 768w"
			 class="login-bg" alt="Login page decorative background">
	<mat-tab-group [selectedIndex]="selectedTab.value"
								 (selectedIndexChange)="selectedTab.setValue($event)">
		<mat-tab label="Account login">
			<mat-card>
				<mat-card-content>
					<div class="social-row">
						<button mat-mini-fab type="button" class="bg-google" (click)="tryGoogleLogin()">
							<i class="fab fa-google"></i>
						</button>
						<button mat-mini-fab type="button" class="bg-facebook" (click)="tryFacebookLogin()">
							<i class="fab fa-facebook-f"></i>
						</button>
						<button mat-mini-fab type="button" class="bg-github" (click)="tryGithubLogin()">
							<i class="fab fa-github"></i>
						</button>
					</div>
					<form class="signin-form" (ngSubmit)="tryEmailLogin($event)" [formGroup]="signInForm">
						<mat-form-field class="signin-field">
							<input matInput placeholder="Email" formControlName="email" required>
							<mat-error *ngIf="email.hasError('required')">The field is required</mat-error>
							<mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Email format is invalid</mat-error>
						</mat-form-field>
						<mat-form-field class="signin-field">
							<input matInput placeholder="Password" type="password" formControlName="password" autocomplete="off" required>
							<mat-error *ngIf="password.hasError('required')">The field is required</mat-error>
						</mat-form-field>
						<mat-card-actions>
							<button mat-raised-button type="submit" color="primary">Sign In</button>
							<button mat-raised-button color="accent" (click)="changeTab($event, 1)">Sign Up</button>
							<a mat-stroked-button [routerLink]="['../']" routerLinkActive="router-link-active">Back</a>
						</mat-card-actions>
					</form>
				</mat-card-content>
			</mat-card>
		</mat-tab>
		<mat-tab label="Sign Up">
			<mat-card>
				<mat-card-header>
					<mat-card-title>title</mat-card-title>
					<mat-card-subtitle>subtitle</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
				
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>Ok</button>
				</mat-card-actions>
			</mat-card>
		</mat-tab>
	</mat-tab-group>
</div>