@import 'src/styles.scss';

.grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
}

.tab-icon {
	margin-left: 8px;
}

.tab-group {
	margin: 0.5rem;
}
.tab-header, .tab-component-header {
	text-align: center;
	width: 90%;
}