@import '../../../styles-variables.scss';

.grid {
	display: flex;
	flex-direction: column;

	.grid-item {
		margin: 0 auto 1rem auto;
		max-width: 300px;
		width: 100%;
	}
}

.tab-icon {
	margin-left: 8px;
}

.tab-group {
	margin: 0.5rem;
}
.tab-header {
	text-align: center;
	width: 90%;
}

@media (min-width: $screen-md) {
	.grid {
		flex-direction: row;

		.grid-item {
			margin: auto;
			padding: 0 10px;
		}
	}
}