<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
		role="'navigation'">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list (click)="toggleSidenav()">
      <a mat-list-item routerLink="./table" routerLinkActive="active">Table</a>
      <a mat-list-item routerLink="./dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="./tree" routerLinkActive="active">Tree</a>
      <a mat-list-item routerLink="./misc" routerLinkActive="active">Other</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
			<button
				#sidenavToggler
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Application Title</span>
		</mat-toolbar>
		<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
