<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
		role="'navigation'">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list (click)="toggleSidenav()">
      <a mat-list-item routerLink="/table" routerLinkActive="active">Link 1</a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Link 2</a>
      <a mat-list-item routerLink="/" routerLinkActive="active">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
			<button
				#sidenavToggler
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
				<!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Application Title</span>
		</mat-toolbar>
		<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
