<ul class="menu">
	<li>
		<a mat-icon-button #tooltipMaterial="matTooltip" matTooltip="Material Layouts"
			[matTooltipPosition]="tooltipPosition" routerLink="/material" routerLinkActive="active">
			<mat-icon aria-label="Example icon-button with a heart icon">layers</mat-icon>
		</a>
	</li>
	<li>
		<a mat-icon-button #tooltipAuth="matTooltip" matTooltip="Auth Demo"
			[matTooltipPosition]="tooltipPosition" routerLink="/auth" routerLinkActive="active">
			<mat-icon aria-label="Example icon-button with a heart icon">vpn_key</mat-icon>			
		</a>
	</li>
	<li>
		<a mat-icon-button #tooltipMood="matTooltip" matTooltip="Some Stuff"
			[matTooltipPosition]="tooltipPosition" routerLink="/111" routerLinkActive="active">
			<mat-icon aria-label="Test">mood</mat-icon>
		</a>
	</li>
	<li>
		<a mat-icon-button #tooltipMap="matTooltip" matTooltip="Google Maps"
			[matTooltipPosition]="tooltipPosition" routerLink="/222" routerLinkActive="active">
			<mat-icon aria-label="Test">map</mat-icon>
		</a>
	</li>
	<li>
		<a mat-icon-button #tooltipGrain="matTooltip" matTooltip="About"
			[matTooltipPosition]="tooltipPosition" routerLink="/333" routerLinkActive="active">
			<mat-icon aria-label="Test">grain</mat-icon>
		</a>
	</li>
</ul>