@import '../styles-variables.scss';

.simple-notification-wrapper.center {
	width: 100%;
}

.simple-notification {
	color: #fff !important;
	font-family: Roboto, sans-serif;
	text-align: center;

	&.info {
		background-color: $clr-info !important;

		.sn-progress-loader span {
			background-color: #eee !important;
		}
	}
	&.error {
		background-color: $clr-error !important;
	}
	&.warn {
		background-color: $clr-warn !important;

		div .sn-title, div .sn-content {
			color: #fff !important;
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column-reverse;

	.content {
		flex: 1 1 auto;
		margin-bottom: $nav-height;
	}
}

@media (min-width: $screen-md) {
	.simple-notification-wrapper.center {
		width: 50%;
	}

	.wrapper {
		flex-direction: row-reverse;
		max-height: 100vh;

		.content {
			margin: 0;
			overflow-y: auto;
		}
		.nav-container {
			min-height: 100vh;
		}
	}
}
