@import 'src/styles.scss';

.landing-wrapper {
	height: calc(100vh - #{$nav-height});
	position: fixed;
	width: 100%;

	.landing-bg {
		position: absolute;

		left: -3px;
		top: -3px;
		height: 101%;
		width: 101%;

		object-fit: cover;
		z-index: -1;

		filter: blur(2px);
	}
}


@media screen and (min-width: $screen-md) {
	.landing-wrapper {
		height: 100%;
	}
}