@import 'src/styles.scss';

.chart-display-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: $screen-md;

	.chart-bar {
		height: 300px;
	}
	.data-bar {
		align-items: center;
		display: flex;
		justify-content: space-evenly;
		margin-top: 2rem;
	}
	.selectors-bar {
		align-items: center;
		display: flex;
		flex-direction: column;
		.selector {
			width: 70%;
		}
	}
}

@media screen and (min-width: $screen-sm) {
	.chart-display-wrapper .selectors-bar {
		flex-direction: row;
		justify-content: space-evenly;
		
		.selector {
			max-width: 30%;
		}
	}
}