<div class="profile">
	<div class="image">
		<img src="{{ user?.photoURL || './assets/img/avatar-not-found.png' }}" class="hoverZoomLink">
	</div>

	<div class="info">
		<span *ngIf="user.displayName != null" class="text-info name"> {{ user?.displayName }} </span>
		<span class="text-info email"> {{ user?.email || "no e-mail in the profile" }} </span>
		<span class="grid-label">Created on</span>
		<span class="grid-label"> {{ creationTime.format("YYYY-MM-DD") }} </span>
		<span class="grid-label">Last visit</span>
		<span class="grid-label"> {{ lastSignInTime.format("YYYY-MM-DD HH:mm") }} </span>
		<div class="grid-label">Signed in with</div>
		<div class="grid-label"> {{ signinMethod }} </div>
	</div>
	<div class="actions">
		<button mat-raised-button color="warn" (click)="tryLogout()">Log out</button>
	</div>
</div>