<div class="profile">
	<div class="image">
		<img src="{{ user?.photoURL || './assets/img/avatar-not-found.png' }}" class="hoverZoomLink">
	</div>

	<div class="info">
		<span *ngIf="user.displayName != null" class="text-info name"> {{ user?.displayName }} </span>
		<span class="text-info email"> {{ user?.email || "no e-mail in the profile" }} </span>
		<h6 class="grid-label">Created on</h6>
		<h6 class="grid-label"> {{ dateLastSignin | date }} </h6>
		<h6 class="grid-label">Last visit</h6>
		<h6 class="grid-label"> {{ dateCreated | date }} </h6>
		<h6 class="grid-label">Signed in with</h6>
		<h6 class="grid-label"> {{ signinMethod }} </h6>
	</div>
	<div class="actions">
		<button mat-raised-button color="warn" (click)="tryLogout()">Log out</button>
	</div>
</div>