@import 'src/styles.scss';

.profile {
	display: flex;
	align-items: center;
	flex-direction: column;

	min-height: calc(100vh - #{$nav-height});

	font-family: Roboto, sans-serif;
	background-color: whitesmoke; 

	.image {
		width: 50%;
		margin: 1rem 0 0;
		img {
			width: 100%;
			border-radius: 50%;
		}
	}
	.info {
		display: flex;
		flex-flow: row wrap;

		.text-info {
			flex: 1 100%;
			margin-top: 1rem;

			text-align: center;
			font-weight: 500;
			color: brown;
		}
		.name	{
			font-size: 2rem;
		}
		.grid-label {
			flex: 1 50%;
			margin-top: 1rem;
			
			text-align: center;
		}
	}
	.actions {
		margin-top: 1rem; 
	}
}

@media screen and (min-width: $screen-sm) {
	.profile {
		flex-flow: row wrap;		
		align-items: flex-start;
		align-content: flex-start;

		.image {
			max-width: 200px;
			margin-left: 1rem;
			flex: 50%;
		}
		.info {
			flex: 1 50%;

			.grid-label {
				padding: 0 0.5rem;

				&:nth-of-type(even) {
					text-align: left;
				}
				&:nth-of-type(odd) {
					text-align: right;
				}
			}
		}
		.actions {
			flex: 1 100%;
			display: flex;
			justify-content: center;

			margin-left: 200px;
		}
	}
}