@import 'src/styles.scss';

.profile {
	display: flex;
	align-items: center;
	flex-direction: column;

	min-height: calc(100vh - #{$nav-height});

	font-family: Roboto, sans-serif;
	background-color: whitesmoke; 

	.image {
		width: 50%;
		margin: 1rem 0 0;
		img {
			width: 100%;
			border-radius: 50%;
		}
	}
	.info {
		display: flex;
		flex-flow: row wrap;

		.text-info {
			flex: 1 100%;
			margin-top: 1rem;

			text-align: center;
			font-weight: 500;
			color: brown;
		}
		.name	{
			font-size: 2rem;
		}

		.grid-label {
			flex: 1 50%;
			margin-top: 1rem;
			
			text-align: center;
		}
	}

	.actions {
		margin-top: 1rem; 
	}
}