* {
	box-sizing: border-box;
}	
body {
	margin: 0;
}

@import "./styles-variables.scss";


// Global classes

.bg-google {
	background-color: $clr-google !important;
}
.bg-facebook {
	background-color: $clr-facebook !important;
}
.bg-github {
	background-color: $clr-github !important;
}

.mat-warn {
	color: #fff !important;
}

mat-error {
	display: flex !important;
	
	align-items: center;
	justify-content: flex-start;

	.error-icon {
		cursor: pointer;
		padding: 5px;
	}
}