@import 'src/styles.scss';

.landing-wrapper {

	.mat-tab-header {
		background-color: whitesmoke;
		border-radius: 5px;
		min-width: 260px;

		.mat-tab-label {
			width: 100%;
		}
	}

	mat-card {
		width: 100%;
		height: 300px;

		.signin-actions, .signup-actions, .mat-card-header {
			display: flex;
			justify-content: center;
		}
		.signin-actions > *, .signup-actions > * {
			display: flex;
			flex-basis: 0;
			flex-grow: 1;
			justify-content: center;
		}
		.signup-actions > * {
			margin: 0 18px !important;
		}
		.mat-card-header h3 {
			margin: 0.5rem 0;
		}
		.signin-form, .signup-form {
			align-items: center;
			display: flex;
			flex-direction: column;

			.signin-field, .signup-field {
				width: 80%;
			}
			.signup-field:not(:last-of-type) {
				margin-bottom: 0.8rem;
			}
		}
		.social-row {
			display: flex;
			justify-content: space-evenly;
			padding: 0.5rem;
		}
	}
}